<%= form_tag book_records_path, method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>
<%if @book_records.count > 0%>
<% @book_records.each do |book_record| %>
  <%= render partial: 'book_record', locals: {book_record: book_record} %>
<% end %>
<%else%>
 <p><%= "Sorry there no results" %></p>
 <img src="https://orig10.deviantart.net/5866/f/2016/032/5/2/gameover_by_doctorworm1987-d9q6446.gif" alt="pacman game over">
<% end %>