<h1>Please Search for Authors Here</h1>

<%if flash[:my_errors] %>
    <%=flash[:my_errors]%>
<%end%>

<%= form_tag create_books_path, method: :put do %>
    <label>Search for authors:</label>
    <%= text_field_tag :author, params[:author]%>
    <%= submit_tag "Search" %>
<% end %>

</ul>
<%if params[:author]%>
    <%params[:author].each do |x|%>
   <li> Title: <%=x[0]%> Author: <%=x[1]%> ISBN13: <%=x[2]%></li>
   <%end%>
<%end%>
<ul>
<!--<%= form_for :@book_record, :url=> create_books_path do |f| %>
<%= f.hidden_field :title %>
<%= f.label :author%>
<%= f.text_field :author %>
<%= f.hidden_field :synopsis %>
<%= f.hidden_field :img_url %>
<%= f.hidden_field :isbn %>
<% f.hidden_field :isbn %>
<%= f.hidden_field :featured %>
<%= f.submit "Search Authors"%>
</p>
<% end %> -->