<!-- available to only admin -->
<%= button_to 'Edit this record', edit_book_record_path(@book_record), :method => :get, data:{confirm:'edit'} %>
<%= button_to 'Delete this record', @book_record, method: :delete, data:{confirm:'For real?'} %>

<h1 class="page-header"> <%= @book_record.title %> </h1>
<p>
    <table class="book-record-show-result" style="width: 95%">
        <tr>
            <td><img class="book-record-show-details" src="<%= @book_record.img_url %>" alt="<%= @book_record.title %>"></td>
            <td>
                <ul style="padding-inline-start: 100px">
                    <p><b><%= link_to @book_record.title, book_record_path(@book_record) %></b></p>
                    <p>by <%= @book_record.author %> </p><br>
                    <p><b>Synopis: </b><%= @book_record.synopsis %></p><br>
                    <br />
                    <h2>Find this book at a Pergola near you!</h2>
                    <% @book_record.pergolas.each do |pergola| %>
                    <p><%= link_to pergola.name, pergola_path(pergola)%><br>
                        We're located at: <%= "#{pergola.address1}, #{pergola.city}, #{pergola.state} #{pergola.zip_code}"  %>
                    </p>
                    
                    <%end%>
                </ul>
            </td>
        </tr>
    </table>
</p>


