<div>
<table style="width:50px">
  <p>
<tr>
  <th> </th>
  <th>Name </th>
  <th>User email</th>
  <th> </th>
  <th>Admin Status</th>
  <th> </th>
  <th>edit</th>
  <th> </th>
  <th>Delete</th>
</tr>
  <%@users.each do |u|%>
      <tr>
      <td><%=u.name.capitalize%> <td>
      <td><%= u.email%> <td>
      <td><%=u.admin%> <td>
      <td><%= link_to'Edit', edit_user_path(u) %><br><td>
      <td><%= button_to'Delete', u, method: :delete, data:{confirm:'For Sure?'} %><br><td>
      </tr>
  <%end%>
    </div>

