<!DOCTYPE html>
<html>
  <head>
    <title>ProjectMod2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="nav-bar">
      <div class="nav-item"><a href="/">Home</a></div>
      <div class="nav-item"><a href="/contact">Contact</a></div>
      <div class="nav-item"><a href="/about">About</a></div>
      <div class="nav-item"><a href="/pergolas">Locate a Pergola</a></div>
      <div class="nav-item"><a href="/book_records">Find a Book</a></div> <!-- redirects to signup when not logged in -->
      <!-- <div class="nav-item" style="text-align: "><a href="/">Login</a></div> -->
      <!-- add singup / login button  -->
    </div>

    <!-- <div class="wrapper"> -->
    <%= yield %>
    

  <!-- </div> -->
  <!-- <div > -->
  </body>
  <footer class="footer">
    <div>
    <h1>Footer</h1>
      <div class="nav-item"><a href="/">Home</a></div>
      <div class="nav-item"><a href="/contact">Contact</a></div>
      <div class="nav-item"><a href="/about">About</a></div>
      <div class="nav-item"><a href="/pergolas">Locate a Pergola</a></div>
      <div class="nav-item"><a href="/book_records">Find a Book</a></div>
    </div>
  </footer>
<!-- </div> -->

  
</html>
