<!DOCTYPE html>
<html>
  <head>
    <title>ProjectMod2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="nav-bar">
      <li class="nav-item"><a href="/">Home</a></li>
      <li class="nav-item"><a href="news.asp">News</a></li>
      <li class="nav-item"><a href="contact.asp">Contact</a></li>
      <li class="nav-item"><a href="about.asp">About</a></li>
    </ul>

    <%= yield %>
  </body>
</html>
